[Unit]
Description=Service for Calliope mini V3 production programming
After=multi.user.target

[Service]
User=pi
WorkingDirectory=/home/pi/production-test/3.0/
ExecStart=/bin/bash -c /home/pi/production-test/3.0/prodprog.sh
Restart=always

[Install]
WantedBy=multi-user.target
